{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block base_content %}
    <li><a><br/><br/><br/></a></li>
    <div class="container" id="main" style="font-family: 'Circular'">

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h1 class="text-center">Login</h1>
                <form method="POST" action="{{ url_for('.login') }}">
                    {{ form.hidden_tag() }}
                    <div class="form-group">

                        {{ form.username.label }}

                        {{ form.username(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label }}
                        {% if form.password.errors %}
                            {% for e in form.password.errors %}
                                <p class="help-block">{{ e }}</p>
                            {% endfor %}
                        {% endif %}
                        {{ form.password(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ form.remember.label }}
                        {% if form.remember.errors %}
                            {% for e in form.remember.errors %}
                                <p class="help-block">{{ e }}</p>
                            {% endfor %}
                        {% endif %}
                        {{ form.remember(class_='form-control') }}
                    </div>
                    {% if form.username.errors %}
                        {% for e in form.username.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    <input class="btn btn-primary" type="submit" value="Login">

                </form>
                <hr>
            </div>

        </div>
{% endblock %}