<!DOCTYPE html>
<html>
<head>
    <script>
        document.write("<base href='http://" + document.location.host + "' />");
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

</head>
<body>

<div id="repotitle_c"></div>
<div id="repolist_c"></div>

<script src="static/js/browser.min.js"></script>
<script type="text/babel" src="static/jsx/api_e6.jsx"></script>
</body>
</html>